<br>
<h2>Friends:</h2>
<br>
<% @friends.each do |friend| %>
  <% other_user = friend.get_other_user(current_user) %>
  <%= other_user.email %> <%= link_to 'New Transaction', new_ledger_path(other_user.id) %>
  <%= link_to 'Remove friend', friend, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
<% end %>