<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @friend.user_id %>
</p>

<p>
  <strong>Other user:</strong>
  <%= @friend.other_user_id %>
</p>

<%= link_to 'Back', friends_path %>
