<br>
<h2>Users:</h2>
<br>
<% @users.each do |user| %>
  <%= user.email %> <%= link_to 'New Transaction', new_ledger_path(user.id) %>
  <% case user.friend_status(current_user)
    when nil%><%= link_to 'Request friendship', new_friend_path(user.id) %>
  <% when :friendship_request_by_self %> Friendship requested
  <% when :friendship_request_by_other %> <%= link_to 'Confirm friend request', new_friend_path(user.id) %>
  <% when :friend %> Friend
  <% end %>
  <br>
<% end %>