<%= form_with(model: ledger, local: true) do |form| %>
  <% if ledger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ledger.errors.count, "error") %> prohibited this ledger from being saved:</h2>

      <ul>
        <% ledger.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    To user:
    <%= ledger.other_user.email %>
    <%= form.hidden_field(:other_user_id, value: ledger.other_user.id) %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, value: 10 %>
  </div>


  <div class="actions">
    <%= form.submit "Transfer"%>
  </div>
<% end %>
