

<p id="notice"><%= notice %></p>
Hello, <%= current_user.email %>

<h1>Transactions</h1>
<%= render 'current_balance' %>
<table>
  <thead>
    <tr>
      <th>Transaction id</th>
      <th>User</th>
      <th>Action</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ledgers.each do |ledger| %>
      <tr>
        <td><%= ledger.id %></td>
        <td><% if ledger.other_user.present? %> <%= ledger.other_user.email %></td> <% end %>
        <td><% if ledger.amount > 0  %> <span class='received'>Received</span>
          <% else %> <span class='sent'>Sent</span> <% end %></td>
        <td><%= ledger.amount %></td>
        <td><%= ledger.balance %></td>
        <td><%= ledger.created_at %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'friends/list' %>
<%= render 'users/list' %>
<br>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>