<h1>Set your initial balance</h1>

<%= form_with(model: @ledger, local: true, url: "/ledgers/create_initial_balance") do |form| %>
  <% if @ledger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ledger.errors.count, "error") %> prohibited this ledger from being saved:</h2>

      <ul>
        <% @ledger.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit "Set initial balance" %>
  </div>
<% end %>


<%= link_to 'Back', ledgers_path %>
