<p id="notice"><%= notice %></p>

<p>
  <strong>Money sent to User:</strong>
  <%= @ledger.other_user.email %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ledger.amount %>
</p>

<p>
  <strong>New balance:</strong>
  <%= @ledger.balance %>
</p>

<%= link_to 'Back', ledgers_path %>
