// Place all the styles related to the Ledgers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.received {
  color: green;
}


.sent {
  color: red;
}